<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  <meta charset="ISO-8859-1"> -->
<title>List of Owners</title>
</head>
<body>
	<h1 th:text="'List of Pet Owners'">Owners List...</h1>

	<table>
		<thead>
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>LastName</th>
		</tr>		
		</thead>
		<tbody>
		<tr th:each="owner : ${owners}">
			<td th:text="${owner.id}">1</td>
			<td th:text="${owner.firstName}">Dilip</td>
			<td th:text="${owner.lastName}">Kurup</td>		
		</tr>
		</tbody>
	</table>

</body>
</html>